@model List<PharmaStoreData.Drug>
@{
    ViewBag.Title = "Medicines";
}

<h2>Medicines</h2>

<div class="row">
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Description</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Description</td>
                <td><a href="/manage/edit/@item.Id" class="btn btn-default"><i class="glyphicon glyphicon-edit"></i></a></td>
                <td><span onclick="Delete(event,@item.Id)" class="btn btn-default"><i class="glyphicon glyphicon-trash"></i></span></td>
                <td><a href="/drugs/about/@item.Id" class="btn btn-default"><i class="glyphicon glyphicon-eye-open"></i></a></td>
            </tr>
        }
    </table>
    <a href="/manage/add" class="btn btn-default">ADD<i class="glyphicon glyphicon-plus"></i></a>
</div>

@section Scripts{
    <script type="text/javascript">    
        function Delete(e, id) {
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: '/manage/delete',
                data: data = { id: id },
                success: function () {
                    window.location.reload();
                },
                error: function (xhr) {
                    alert(xhr.responseText);
                }
            });
        }
    </script>
}